@import "../../../theme/font.scss";
@import "../../../theme/colors.scss";

.list-title {
  font-family: $font-family-roboto;
  font-weight: $font-weight-black;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: $gray-1;
}
