.list-wrapper {
  height: 42rem;
  margin: auto;
  margin-top: 4rem;

  .partners-container {
    height: 30rem;
    max-width: 80rem;
    min-width: 28rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
